<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Student_Project.Properties.Settings.LabtasksConnectionString"
            connectionString="Data Source=WAJEEHA\SQLEXPRESS;Initial Catalog=Labtasks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Student_Project.Properties.Settings.StudentSystemConnectionString"
            connectionString="Data Source=WAJEEHA\SQLEXPRESS;Initial Catalog=StudentSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>